body {
    padding: 0px;
    margin: 0px;
   
}

#menu ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    background-color: #252526;
    list-style: none;
    font : 100% Verdana;

}

#menu ul li {display: inline;}

#menu ul li a {
    color: #FFFFFF;
}

#menu ul li a:hover{
    color: #6d6d6d;
}